* {
    padding:0;
    margin: 0;
}
body {
    background-color: #f2f0ec;
    font-family: "Futura";
    min-width: 1500px;

}
.container {
    min-width: 1500px;
    padding-left: 279px;
    padding-right: 281px;
}
.main { /* top header */
    height: 147px;
    border-bottom: 1px solid #d9d9d9;
    color: #414141;



    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.main h1 {
    color: #414141;
    font-size: 26px;
    letter-spacing: .0563em;
    padding-left: 282px;
    padding-right: 210px;
}
nav {
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background-color: #232323;
    margin-bottom: 26px;


}
.logo img {
    padding-top: 13px;
    margin-left: 279px;
}
nav ul {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-left: 45px;



}
nav li {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .06em;
    margin-top: 17px;
    margin-right: 36px;
}
nav li:nth-child(2) {
    letter-spacing: .05em;
}
.picture {

    display: inline-block;
    vertical-align: top;
}

.mob-image, .mob-message {
    width: 620px;
    height: 400px;

}
.mob-image {
    margin-top:30px;
    background-color: grey;
}
.picture header {
    height: 56px;
    background-color: rgba(0,0,0 0.5);


}
.mob-image p {
    color: #ffffff;
    padding-top: 13px;
    font-size: 22px;
    padding-left: 21px;
    letter-spacing: 0.02em;
}
.mob-message {
    background-color: #cjcdc7;
    height: 83px;

    position: relative;
}

.mob-message h1 {
    background-color: #f0d117;
    height: 25px;
    width: 122px;
    padding-top: 7px;
    padding-left: 18px;

    text-transform: uppercase;
    font-size:14px;
    color: #fff;
    position: absolute;
    top: -17px;
    left: -6px;

}

.mob-message p {
    padding-top: 21px;
    padding-left: 25px;
    font-style: italic;
    letter-spacing: .04em;
}
.mob-message p span:first-child {
    letter-spacing: .044em;
}
aside {
    width: 600px;
}
aside p {
    font-size: 12px;
    padding-left: 29px;
    padding-top: 8px;
}

.mobber-join {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.mob-count {
    margin-right: 16px;
    margin-top:29px;
    width: 139px;
    display: inline-block;
    vertical-align: top;

}
.counter {
    height: 118px;
    line-height: 52px;
    background-color: #cfcdc7;
    font-size: 65px;
    text-align: center;

}
.counter div {
    padding-top: 38px;
    color: #fff;
}
.counter-tag {
    height: 26px;
    padding-top: 7px;
    font-size: 13px;
    color: #414141;
    background-color: #b4aea3;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .018em;
}
.join-btn {
    width: 298px;
    height: 60px;
    background-color: #e1a817;
    border: 1px solid #c39213;
    margin-top: 25px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;;

}
.join-btn a {

}
.join-btn span {
    display: inline-block;
    text-decoration: none;
    letter-spacing: .07em;
    padding-top: 17px;
    margin: 0 auto;
    color: #fff;
    padding-left: 3px;

}
.rewards span {
    float: right;
}