* {
    padding:0;
    margin: 0;
}
body {
    background-color: #f2f0ec;
    font-family: "Futura";
    min-width: 1500px;

}
.container {
    width: 940px;
    margin: 0 auto;

}
.main { /* top header */
    height: 147px;
    border-bottom: 1px solid #d9d9d9;
    color: #414141;



    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.main h1 {
    color: #414141;
    font-size: 26px;
    letter-spacing: .0563em;
    padding-left: 282px;
    padding-right: 210px;
}
nav {
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background: linear-gradient(#4f4f4f,#232323);
    margin-bottom: 26px;


}
.logo img {
    padding-top: 13px;
    margin-left: 279px;
}
nav ul {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-left: 45px;



}
nav li {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .06em;
    margin-top: 17px;
    margin-right: 36px;
}
nav li:nth-child(2) {
    letter-spacing: .05em;
}
.picture {

    display: inline-block;
    vertical-align: top;
}

.mob-image, .mob-message {
    width: 620px;
    height: 400px;

}
.mob-image {
    margin-top:30px;
    background-color: grey;
}
.picture header {
    height: 56px;
    background-color: rgba(0,0,0 ,0.5);


}
.mob-image p {
    color: #ffffff;
    padding-top: 13px;
    font-size: 22px;
    padding-left: 21px;
    letter-spacing: 0.02em;
}
.mob-message {
    background-color: #cfcdc7;
    height: 83px;

    position: relative;
}

.mob-message h1 {
    background-color: #f0d117;
    height: 25px;
    width: 122px;
    padding-top: 7px;
    padding-left: 18px;

    text-transform: uppercase;
    font-size:14px;
    color: #fff;
    position: absolute;
    top: -17px;
    left: -6px;

}

.mob-message p {
    padding-top: 21px;
    padding-left: 25px;
    font-style: italic;
    letter-spacing: .04em;
}
.mob-message p span:first-child {
    letter-spacing: .044em;
}
aside {
    width: 600px;
}
aside p {
    font-size: 12px;
    padding-left: 29px;
    padding-top: 8px;
}

.mobber-join {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 15px;
}

.mob-count, .mob-count-2 {

    margin-top:29px;
    width: 139px;
    display: inline-block;
    vertical-align: top;

}
.mob-count-2{
    margin-left: 16px;

}

.counter {
    height: 118px;
    line-height: 52px;
    background-color: #cfcdc7;
    font-size: 65px;
    text-align: center;

}
.counter div {
    padding-top: 38px;
    color: #fff;
}
.counter-tag {
    height: 26px;
    padding-top: 7px;
    font-size: 13px;
    color: #414141;
    background-color: #b4aea3;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .018em;
}
.join-btn {
    width: 298px;
    height: 60px;
    background: linear-gradient(#f7e017,#e1a817);
    border: 1px solid #c39213;
    margin-top: 25px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;;

}
.join-btn a {

}
.join-btn span {
    display: inline-block;
    text-decoration: none;
    letter-spacing: .07em;
    padding-top: 17px;
    margin: 0 auto;
    color: #fff;
    padding-left: 3px;

}
.rewards {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #b1b1b1;
    background-color: #fff;
    margin-left: 5px;
    margin-top: -4px;
    z-index: -5;

    width: 287px;
    height: 79px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.rewards span {
    float: right;
    margin-top:16px;
    margin-right: 86px;
    color: #414141;

}
.rewards img {
    margin-left: 8px;
    margin-top: 9px;

}
.rewards div:first-child{
    font-size: 18px;
    letter-spacing: .035em;
}
.rewards p {
    margin-top: -2px;
    font-size: .9em;
    letter-spacing: .007px;
}
.mob-join-release {

    
    text-align: center;
    color: #787878;
    border-bottom: 1px solid #b1b1b1;

}
.mob-join-release span{
    display: inline-block;
    font-size: 12px;
    padding: 11px 14px 17px 12px;
}

ul.social {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;;

}
.social li{

    display: inline-block;
    height: 22px;
    font-size: 12px;
    position: relative;
    border-radius: 3px 4px 4px 4px;
}
.social img{

}
.social a span {
    text-decoration: none;
    position: absolute;
    top: 3px;
    right: 5px;

}
li.tweet{
    width: 55px;
    background: linear-gradient(#fdfefe,#d5e6f2);
    border: 1px solid #a6bac9;

}
.tweet span {
    color: #226586;
}
li.facebook{
    width: 57px;
    height: 23px;
    border: 1px solid #ccd4e6;
    background-color: #ecedf5;
    margin-left: -2px;
}
.facebook span {
    color:#455399;

}
li.google{
    width: 38px;
    border: 1px solid #b7b7b7;
    background:linear-gradient(#fbfbfb,#e4e4e4);
    margin-left: -2px;
}
.google span {
    color: #d05642;

}
li.social-link{
    width: 129px;
    right: -11px;
    margin-left: -8px;
}
.social-link span {
    color: #326387;

}